.container{
    margin: 2rem;
}

.cards-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.card {
    max-width: 250px; 
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s, filter 0.3s;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;  
}



mat-card-actions{
    display: flex;
    justify-content: center;
}

.card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    filter: brightness(90%);
  }